@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
    width: 100vw;
    height: 100vh;
    user-select: none;
    box-sizing: border-box;
    overflow-x: hidden;
    scrollbar-width: none;
}